*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Minecraft Regular;
    font-style: normal;
    text-transform: capitalize;
    text-decoration: none;
    viewport-fit: auto;
}
body{
    min-height: 100%;
    background-image: url(../body-bg.png);
    background-size: 5%;
    background-position: absolute;
    width: 1440px;
    height: 1080;
}
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-image:url(../header-bg.png);
    box-shadow: 0 10px 2px rgba(0, 0, 0, .1);
    padding: 10spx 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    height: 75;
    width: 1518;
}
.title{
    padding: 0px 105.5px;
    font-weight: bolder;
    font-size: 30px;
    color: #fff;
}
header a:hover{
    color: rgb(229, 194, 151);
    padding: none;
}
div{
    background-image: url(../back.png);
    position: absolute;
    width: 1200px;
    height: 1080px;
    left: 150px;
    top: 210px;
}
div h1{
    position: absolute;
    color: #ffffff;
    font-weight: 500;
    font-size: 35px;
    width: 500px;
    height: 24px;
    left: 50px;
    top: 30px;
}
.bg1{
    background-image: linear-gradient(rgb(0, 0, 0),rgb(0, 0, 0));
    position: absolute;
    width: 1000px;
    height: 875px;
    left: 100px;
    top: 150px;
}
div h2{
    position: absolute;
    color: #ffffff;
    font-weight: 500;
    font-size: 25px;
    width: 500px;
    height: 24px;
    left: 150px;
    top: 200px;
}
div h2:hover{
    color: rgb(21, 171, 61);
    padding: none;
}
div .active h2{
    background-color: #000000;
    color: rgb(21, 171, 61);
}
div h3{
    position: absolute;
    color: #ffffff;
    font-weight: 500;
    font-size: 25px;
    width: 500px;
    height: 24px;
    left: 150px;
    top: 250px;
}
div h3:hover{
    color: rgb(21, 171, 61);
    padding: none;
}
div .active h3{
    background-color: #000000;
    color: rgb(21, 171, 61);
}
